/AbstractStage.class
/AlgorithmStage.class
/BreakPoint$Listener.class
/BreakPoint.class
/Dispenser.class
/Evaluator.class
/ExclusiveDispenser.class
/Parallel.class
/Sequence.class
/StageException.class
